<app-header></app-header>

<hr />

<router-outlet></router-outlet>

<!-- Spacer, expands to fill in the remaining space between elements above and below thus pushing footer down -->
<div class="flex flex-1"></div>

<hr />

<footer class="bg-neutral-100">
  <div class="container-fixed flex-row justify-between py-4">
    <div class="">
      Design by
      <a class="link" target="_blank" rel="noopener" href="http://deniszholob.com/">Denis Zholob</a>
    </div>
    <div>Updated {{ APP_MODIFIED_DATE | date: 'y/M/d' }}</div>
  </div>
</footer>
