<div class="m-auto flex max-w-[600px] flex-col gap-4">
  <form [formGroup]="formGroup">
    <div class="flex flex-col gap-4">
      <div class="flex w-full flex-row gap-4">
        <app-form-field
          [formField]="{
            id: 'name',
            label: 'Name',
            formControl: formGroup.get('name'),
          }"
        >
          <input id="name" name="name" type="text" formControlName="name" />
        </app-form-field>

        <app-form-field
          [formField]="{
            id: 'amount',
            label: 'Amount',
            formControl: formGroup.get('amount'),
          }"
        >
          <input id="amount" name="amount" type="number" formControlName="amount" />
        </app-form-field>
      </div>

      <div class="flex w-full flex-row gap-4">
        <app-form-field
          [formField]="{
            id: 'datePaid',
            label: 'Date Paid',
            formControl: formGroup.get('datePaid'),
          }"
        >
          <input id="datePaid" name="datePaid" type="date" formControlName="datePaid" />
        </app-form-field>

        <app-form-field
          [formField]="{
            id: 'forDate',
            label: 'For Date',
            formControl: formGroup.get('forDate'),
          }"
        >
          <input id="forDate" name="forDate" type="date" formControlName="forDate" />
        </app-form-field>
      </div>

      <div class="flex flex-row gap-4">
        <app-form-field
          [formField]="{
            id: 'paidByUserId',
            label: 'Paid By',
            formControl: formGroup.get('paidByUserId'),
          }"
        >
          <select id="paidByUserId" name="paidByUserId" formControlName="paidByUserId">
            @for (user of users(); track $index) {
              <option [ngValue]="user.id">
                {{ user.name }}
              </option>
            }
          </select>
        </app-form-field>

        <app-form-field
          [formField]="{
            id: 'paidForUserIds',
            label: 'Paid For',
            formControl: formGroup.get('paidForUserIds'),
          }"
        >
          <select
            id="paidForUserIds"
            [compareWith]="userComparatorBool"
            multiple
            name="paidForUserIds"
            formControlName="paidForUserIds"
          >
            @for (user of users(); track $index) {
              <option [ngValue]="user.id">
                {{ user.name }}
              </option>
            }
          </select>
        </app-form-field>
      </div>
      <app-form-field
        [formField]="{
          id: 'description',
          label: 'Description',
          formControl: formGroup.get('description'),
        }"
      >
        <textarea
          id="description"
          name="description"
          rows="3"
          formControlName="description"
        ></textarea>
      </app-form-field>
    </div>
  </form>

  <button
    class="rounded bg-green-500 px-4 py-2 font-bold text-white hover:bg-green-700"
    (click)="onSaveExpense()"
  >
    {{ expense()?.id ? 'Update Expense' : 'Add New Expense' }}
  </button>
</div>
<!-- 
<hr />

<pre>
  {{ this.formGroup.value | json }}
</pre> -->
